.lib6 {
  width: 100%;
  height: auto;
}
.navback {
  background-color: #dbd7cb;
}
.logo {
  width: 7rem;
  height: auto;
  border-radius: 80px;
  float: left;
}

.mynav {
  background-color: #222831;
  /* position: relative; */
  position: sticky;
  /* top: 0; */
}
.nav-item {
  /* color: #efbb35; */
  margin-top: -1px;
  text-align: center;
  display: block;
  width: 100%;
  background-color: #222831;
  padding: 5px;
}

.nav-link {
  color: #efbb35 !important;
  /* color: #bc4e9c !important; */
  font-family: "Merriweather", serif;
  font-size: 20px;
  font-weight: bold;
}
.nav-link:hover {
  border-radius: 12px;
  background: linear-gradient(to right, #ee0979, #ff6a00);
  color: aliceblue !important;
}
.loader {
  width: auto;
  height: auto;
  display: flex;
}
.loaderdiv {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: absolute;
}
.myFooter {
  background-image: url("../images/wave.gif");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: -200px;
  padding-bottom: 20px;
  min-height: 100%;
  position: relative;
  margin-top: auto;
  /* color: #ff4b2b; */
}
.about {
  /* background-color: black; */
  /* background-color: #343a40; */
  background-color: #3c454e;
  opacity: 1;
  color: #ff4b2b;
  /* font-family: Lobster two; */
  font-family: Cambria;
  font-weight: bold;
  font-style: italic;
  font-size: 2.5rem;
  letter-spacing: 3px;
}
.about :hover {
  font-style: normal;
}
hr {
  margin-left: 47%;
  margin-right: 47%;
  border-top: 8px dotted black;
  opacity: 0.6;
}

.socialdiv {
  opacity: 0.9;
}
.footerImage {
  transition: width 1s, height 1s, transform 1s;
}
.footerImage:hover {
  transform: rotate(720deg);
  /* box-shadow: 9px -15px 110px 39px darkviolet; */
}
.social-text {
  justify-content: center;
  text-align: center;
  color: #ee0979;
  font-size: 20px;
}
.social-text:hover {
  color: goldenrod;
}
#copyright {
  font-family: Fira Code;
  font-size: 20px;
  letter-spacing: 0;
  margin-bottom: -20px;
  color: #ff4b2b;
  /* background-color: #3c454e; */
}
.socialIcons {
  /* background-color: black; */
  background-color: #343a40;
  height: 7.5rem;
}
.socialImg {
  margin-top: 1rem;
  width: 4rem;
  /* background-color: black; */
  background-color: #343a40;
  transition: width 1s, height 1s, transform 1s;
}
.socialImg:hover {
  transform: rotate(720deg);
  /* box-shadow: 9px -15px 110px 39px darkviolet; */
}
