.homecontentdiv {
  text-align: center;
  justify-content: center;
  color: #ff4b2b;
  /* background-color: #222831; */
  margin-bottom: -8px;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: Lobster two;
  /* font-family: Dank Mono; */
  font-size: 1.8755rem;
}
.einstein {
  opacity: 1;
  transition: width 2s, height 2s, transform 1s;
}
.einstein:hover {
  transform: rotate(360deg);
}
.signUpDiv {
  /* margin-bottom: -20px; */
  /* height: 600px; */
  overflow: hidden;
}
#vectordiv {
  margin-left: -60px;
  margin-right: -30px;
}
#gradientdiv {
  background-image: url("./images/cover4.PNG");
  background-size: cover;
  background-repeat: no-repeat;
}
.signUpDiv {
  /* margin-top: 60px; */
  font-family: Lobster Two;
  color: aliceblue;
}
#signUpHeading {
  margin-top: 20px;
  background: linear-gradient(to right, #fc466b, #3f5efb);
  /* box-shadow: -18px 20px 20px 0px rgba(0, 0, 0, 0.75); */
  /* box-shadow: -18px 18px 15px 7px rgba(0, 0, 0, 0.75); */
  padding: 20px;
  border-radius: 100%;
}
#signUpHeading:hover {
  background: linear-gradient(to right, #11998e, #38ef7d);
  box-shadow: none;
}
.signUpForm {
  /* margin-top: 45px; */
  margin-top: 20px;
  /* background-color: grey; */
  background-color: #474b5c;
  /* padding: 50px; */
  border-radius: 25px;
  /* width: 85%; */
}
input {
  margin-top: 10px;
  text-align: center;
  border-radius: 1.33rem;
  outline: none;
  border: none;
  /* width: 20px; */
  /* width: 250px; */
  height: 2.12rem;
  font-family: Cambria Math;
  font-size: 1.25rem;
  font-weight: bold;
  color: #2a2a72;
}
.formIcon {
  margin-right: 0.94rem;
}
.myBtn {
  /* background: linear-gradient(to right, #41295a, #2f0743); */
  /* background: linear-gradient(to right, #ff416c, #ff4b2b); */
  background: linear-gradient(to right, #fc466b, #3f5efb);
  margin-left: 2.5rem;
  border: none !important;
  outline: none !important;
  width: 8.75rem;
  height: 2.12rem;
  border-radius: 2.5rem;
  font-size: 22px;
  letter-spacing: 2px;
  color: aliceblue;
}
.myBtn:hover {
  transform: scaleX(1.2);
  background: linear-gradient(to right, #11998e, #38ef7d);
}

.signInButton {
  /* margin-top: 10px; */
  border: none !important;
  outline: none !important;
  width: 12.5rem;
  font-size: 15px;
  height: 3.44rem;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 2.5rem;
  color: aliceblue;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  box-shadow: -10px 15px 8px 2px rgba(0, 0, 0, 0.75);
  /* background: linear-gradient(to right, #d53369, #cbad6d); */
}
.signInButton:hover {
  box-shadow: none;
  width: 13.8rem;
  transition: 0.2s;
}
#logindiv {
  background-image: url("./images/cover10.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#loginVectorDiv {
  margin-left: -60px;
  margin-right: -42px;
  margin-top: -48px;
  margin-bottom: -50px;
}
#adminVectorDiv {
  margin-left: -60px;
  margin-right: -42px;
  margin-top: -43px;
  margin-bottom: -43px;
}
#admindiv {
  background-image: url("./images/cover3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
